main
{
	size: *;
}
main > div { visibility: none; }
main > div:current { visibility: visible; }

#front { cursor: pointer; }
#front, #back, #done
{
	size: *;
	flow: vertical;
	horizontal-align: center;
	padding: 20px;
}
vflow { size: *; vertical-align: middle; }
hflow { height: 30px; horizontal-align: center; }
h1 { text-align: center; vertical-align: middle; margin: 0; }
h2 { text-align: center; font-size: 14px; margin: 0; font-weight: normal; }
h5 { cursor: #9558D1; font-weight: normal; font-style: italic; font-size: 12px; }

button
{
	background: #D3E7FA;
	border: solid 1px transparent;
	margin-right: 6px;
}
button:hover
{
	border: solid 1px gray;
	cursor: pointer;
}
button#btn-ok { background: #30cc2e; }
button#btn-nok { background: #cf5b5b; }
